body{
  margin: 0;
  position: relative;
  font-family: 'Montserrat';
}
*{
  box-sizing: border-box;
  margin: 0;
}
a{
  text-decoration: none;
  color: white;
  fill-opacity: 1;
}

.nav {
 
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0px 230px;
  top:0;
  height: 115px;
  width:100%;
  }
.space{
  flex:1;
}
ul{
  display: flex;
    list-style-type: none;
}
li a{
 list-style-type: none;
 text-decoration: none;
 padding: 10px;
 width: 50px;
 font-size: 14px;
 color: #777777
}
li a:hover{
  color: #222222;
}
/*TITLE*/
.title_container{
  background-image: url(./img/title_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 530px;
}
.title_container .shadow_title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  background-size: cover;
  opacity: 75%;
  height: 100%;  
}

.text_title h1 {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  opacity: 100%;
}
.text_title p{
  font-size: 20px;
  letter-spacing: 0px;
  color: #cccccc;
  font-family: 'Roboto Slab';
  font-weight: 400;
  text-align: center;
}
.portfolio_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #7cc576;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 700;
  filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.7));
}
.portfolio_btn:hover{
  background-color: #ffffff;
}
.portfolio_btn a:hover{
  color: #222222;
}

/*SERVICES */
.services_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 535px;
  margin: 0px 205px;
}
.services_text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 75px;
  color: #222222;
  font-weight: 700;
  text-align: center;
}
.services_text p{
  font-size: 20px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
.services_elem {
  display: flex;
  flex-direction: row;
  padding-top: 65px;
}
.services_elem .services_elem_text{
  width: 33.33%;
  text-align: center;
  padding: 25px;
}
.services_elem_text h1 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-weight: 700;
}
.services_elem_text p {
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
/* RELAX */
.relax_container{
  display: flex;
  height: 616px;
  width: 100%;
}
.relax_container .back1{
  background-image: url(./img/relax_back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 33%;
}
.relax_container .back2 {
  display: flex;
  justify-content:center;
  align-items: center;
  background-image: url(./img/relax_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 67%;
}
.shadow_relax{
  position: relative;
  display: flex;
  float:right;
  width: 100%;
  height: 616px;
  background-color: #000000;
  opacity: 75%;
  z-index: 1;
}
 .details_relax {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.text_relax {
  width: 650px;
  
}
.text_relax h1{
  padding-bottom: 45px;
  font-size: 40px;
  letter-spacing: -2px;
  color: #ffffff;
  font-weight: 700;
}
.text_relax p {
  font-size: 16px;
  letter-spacing: 0px;
  color: #cccccc;
  font-family: "Roboto Slab";
  font-weight: 400;
}
.list_relax{
  padding-top: 20px;
  width: 650px;
}
.list_relax_elem{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #cccccc;
  font-family: "Roboto Slab";
  font-weight: 400;
}
.learn_more_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 168px;
  height: 60px;
  border-radius: 30px;
  background-color: #7cc576;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 43px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.7));
}
.learn_more_btn:hover{
  background-color: #ffffff;
}
.learn_more_btn a:hover {
  color: #222222;
}

/* LATEST PROJECT */
.project_container {
  padding: 100px 230px;
  display: flex;
  
  flex-direction: column;
  background-image: url(./img/project_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 824px;
 

}

.project_title h1{
  font-size: 40px;
  letter-spacing: -2px;
  color: #222222;
  font-weight: 700;
  text-align: center;
}
.project_title p{
  font-size: 20px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
.project_description{
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  width: 470px;
  }
.project_description h1{
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-weight: 700;
}
.project_description p{
  font-size: 16px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
}
.project_details{
  padding-top: 30px;
}
.project_details_elem{
  padding-bottom: 15px;
  height: 66px;
  display: flex;
  flex-direction: row;
  width: 480px;
}
.project_details_elem img{
  width: 66px;
  height: 66px;
  display: flex;
  align-self: center;
  justify-self: center;
}
.project_details_elem .project_text_elem{
  height: 66px;
  padding-left: 20px;
  display: flex;
  justify-content: center;  
  flex-direction: column;
}
.project_details_elem .project_text_elem h1{
  padding:0px;
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-weight: 700;
}
.project_details_elem .project_text_elem p{
  font-size: 16px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
}
.project_btn{
  margin-top:25px;
display: flex;
flex-direction: row;
}
.project_btn a{
  font-size: 16px;
letter-spacing: 0px;
color: #7cc576;
font-family: "Montserrat";
font-weight: 700;
}
.project_btn i{
  width: 14px;
  height: 11px;
}
.project_btn a:hover {
  color: #222222;
}




/* VALUES */

.values_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9f9;
  height: 560px;
}
.values_text {
  padding-top:100px;
  padding-bottom: 90px;
}
.values_text h1{
  padding-bottom: 20px;
  font-size: 40px;
  letter-spacing: -2px;
  color: #222222;
  font-weight: 700;
}
.values_text p {
  font-size: 20px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
.values_details{
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  margin: 0px 230px;
}
 .values_img{
  margin: 0px 230px;
  display: flex;
  flex-direction: row;
  align-items:center;
  height: 84px;
}
.line {
  width: 170px;
  height: 2px;
  background-color: #777777;
  margin:25px;
}
.values_elem{
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.values_elem h1{
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700;
}
.values_elem p{
  width: 280px;
  height: 58px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}


/*CLIENTS*/
.clients_container{
  margin:0px 230px;
  display: flex;
  flex-direction: column;
  height: 810px;
  
}
.clients_title {
  margin-top: 100px;
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.clients_title h1{
  font-size: 40px;
  letter-spacing: -2px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.clients_title p {
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
.opinion_container{
  height:220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.opinion_elem_round{
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-color: #f9f9f9;
  border: 3px solid #ffffff;
}
.triangle_left_elem{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11.5px 20px 11.5px 0;
  border-color: transparent #f9f9f9 transparent transparent;

} 
.triangle_right_elem {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11.5px 0 11.5px 20px;
  border-color: transparent transparent transparent#f9f9f9;
}
.opinion_box{
  padding: 40px;
  width: 642px;
  height: 173px;
  background-color: #f9f9f9;
  padding-top: 35px;
  padding-bottom: 40px;
}
.opinion_box h1{
  font-size: 22px;
  line-height: 28px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
.opinion_box p{
  font-size: 18px;
  line-height: 36px;
  color: #7cc576;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}


/*CONTACT*/
.contact_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #7cc576;
}
.contact_container h1{
  font-size: 40px;
  letter-spacing: -2px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.contact_btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 173px;
  height: 46px;
  border-radius: 4px;
  background-color: #7cc576;
  border: 3px solid #ffffff;

}
.contact_btn a{
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 41px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.contact_btn:hover{
  width: 173px;
  height: 46px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 3px solid #ffffff;
}
.contact_btn a:hover{
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 41px;
  color: #7cc576;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}

/*LOGOS*/

.logos_container{
  padding: 60px 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 165px;
}
.logos_container img{
  padding: 0 20px;
}