body{
  margin: 0;
  position: relative;
  font-family: 'Montserrat';
}
*{
  box-sizing: border-box;
  margin: 0;
}

.nav {
  position: absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0px 230px;
  top:0;
  height: 115px;
  width:100%;
  background-color: yellow;
  }
.space{
  flex:1;
}
ul{
  display: flex;
    list-style-type: none;
}
li a{
 list-style-type: none;
 text-decoration: none;
 padding: 10px;
 width: 50px;
 font-size: 14px;
 color: #777777
}
li a:hover{
  color: #222222;
}