body{
  margin: 0;
  position: relative;
  font-family: 'Montserrat';
}
*{
  box-sizing: border-box;
  margin: 0;
}
a{
  text-decoration: none;
  color: white;
  fill-opacity: 1;
}

.nav {
 
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0px 230px;
  top:0;
  height: 115px;
  width:100%;
  }
.space{
  flex:1;
}
ul{
  display: flex;
    list-style-type: none;
}
li a{
 list-style-type: none;
 text-decoration: none;
 padding: 10px;
 width: 50px;
 font-size: 14px;
 color: #777777
}
li a:hover{
  color: #222222;
}
/*TITLE*/
.title_container{
  background-image: url(./img/title_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 530px;
}
.title_container .shadow_title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  background-size: cover;
  opacity: 75%;
  height: 100%;  
}

.text_title h1 {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  opacity: 100%;
}
.text_title p{
  font-size: 20px;
  letter-spacing: 0px;
  color: #cccccc;
  font-family: 'Roboto Slab';
  font-weight: 400;
  text-align: center;
}
.portfolio_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #7cc576;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 43px;
  color: #ffffff;
  font-weight: 700;
  filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.7));
}
.portfolio_btn:hover{
  background-color: #ffffff;
}
.portfolio_btn a:hover{
  color: #222222;
}

/*SERVICES */
.services_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 535px;
  margin: 0px 205px;
}
.services_text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 75px;
  color: #222222;
  font-weight: 700;
  text-align: center;
}
.services_text p{
  font-size: 20px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
.services_elem {
  display: flex;
  flex-direction: row;
  padding-top: 65px;
}
.services_elem .services_elem_text{
  width: 33.33%;
  text-align: center;
  padding: 25px;
}
.services_elem_text h1 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-weight: 700;
}
.services_elem_text p {
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
}
/* RELAX */
.relax_container{
  display: flex;
  height: 616px;
  width: 100%;
}
.relax_container .back1{
  background-image: url(./img/relax_back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 33%;
}
.relax_container .back2 {
  display: flex;
  justify-content:center;
  align-items: center;
  background-image: url(./img/relax_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 67%;
}
.shadow_relax{
  position: relative;
  display: flex;
  float:right;
  width: 100%;
  height: 616px;
  background-color: #000000;
  opacity: 75%;
  z-index: 1;
}
 .details_relax {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.text_relax {
  width: 650px;
  
}
.text_relax h1{
  padding-bottom: 45px;
  font-size: 40px;
  letter-spacing: -2px;
  color: #ffffff;
  font-weight: 700;
}
.text_relax p {
  font-size: 16px;
  letter-spacing: 0px;
  color: #cccccc;
  font-family: "Roboto Slab";
  font-weight: 400;
}
.list_relax{
  padding-top: 20px;
  width: 650px;
}
.list_relax_elem{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #cccccc;
  font-family: "Roboto Slab";
  font-weight: 400;
}
.learn_more_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 168px;
  height: 60px;
  border-radius: 30px;
  background-color: #7cc576;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 43px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  filter: drop-shadow(0px 1px 0.5px rgba(0,0,0,0.7));
}
.learn_more_btn:hover{
  background-color: #ffffff;
}
.learn_more_btn a:hover {
  color: #222222;
}